* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--neutral-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

