@use '@/styles/globals' as *;

.statSection {
  margin-top: $spacing-6;
  width: 100%;

  h3 {
    color: $primary-100;
    border-bottom: 1px solid $neutral-400;
    padding-bottom: $spacing-2;
    margin-bottom: $spacing-3;
    @include cinzel-sm($primary-100, bold, 1.5, 1px);
    text-transform: uppercase;
  }
}

.abilitiesContainer {
  @include flex-col-start();
  gap: $spacing-3;
  width: 100%;
}

.ability {
  @include main-md(#e0e0e0, normal, 1.5);

  &Name {
    font-weight: bold;
    color: #ffffff;
  }

  &Description {
    color: #e0e0e0;
  }
}
