$primary-100: #9c841c;
$primary-200: #836e12;
$primary-300: #685607;
$primary-400: #463900;

$neutral-100: #0f0f0f;
$neutral-200: #1a1a1a;
$neutral-300: #262626;
$neutral-400: #333333;
$neutral-500: #404040;
$neutral-600: #4d4d4d;
$neutral-700: #595959;
$neutral-800: #666666;
$neutral-900: #737373;
$neutral-1000: #808080;

$success: #4caf50;
$warning: #ff9800;
$error: #f44336;